<img src="img/Recurso-26.png" width="200">

## Michael Borja

1. Escribe un programa que muestre por pantalla la concatenación de un número y una cadena de caracteres. Para obtener esta concatenación puedes usar uno de los operadores explicados en este tema. Ejemplo: dado el número 3 y la cadena 'abc', el programa mostrará la cadena '3abc'.

In [4]:
#Ejercicio 1

numero=3
cadena='abc'
cadena=str(numero)+cadena
print(cadena)

3abc

2. Escribe un programa que muestre por pantalla un valor booleano que indique si un número entero *N* está contenido en un intervalo semiabierto *[a,b)*, el cual establece una cota inferior *a* (inclusive) y una cota superior *b* (exclusive) para *N*.

In [10]:
#Ejercicio 2

a = 3
b = 6
N = 4

print(a)
print(type(a))

print(b)
print(type(b))

print(a<=N<b)

3
<class 'int'>
6
<class 'int'>
True

3. Escribe un programa que, dado dos strings *S1* y *S2* y dos números enteros *N1* y *N2*, determine si el substring que en *S1* se extiende desde la posición *N1* a la *N2* (ambos inclusive) está contenido en *S2*.

In [17]:
#Ejercicio 3

s1="maquina1"
s2="maquina2"
n1=1
n2=2

print(s1,s2)
print(n1,n2)

parte = s1[n1:n2+1]
print (parte in s2)

maquina1 maquina2
1 2
True

4. Dada una *lista* con elementos duplicados, escribir un programa que muestre una nueva *lista* con el mismo contenido que la primera pero sin elementos duplicados.

In [23]:
#Ejercicio 4

numeros = ['a', 'b', 'c', 'a', 'c']
sin_duplicados = []

for elemento in numeros:
    if elemento not in sin_duplicados:
        sin_duplicados.append(elemento)

print(sin_duplicados)

['a', 'b', 'c']

5. Escribe un programa que, dada una *lista* de strings *L*, un string *s* perteneciente a *L* y un string *t*, reemplace *s* por *t* en *L*. El programa debe mostrar la lista resultante por pantalla.

In [25]:
#Ejercicio 5

L = ['durazno', 'platano', 'manzana', 'pera']
s = 'durazno'
t = 'naranja'

for i in range(len(L)):
    if L[i] == s:
        L[i] = t

print(L)

['naranja', 'platano', 'manzana', 'pera']

6. Escribe un programa que defina una *tupla* con elementos numéricos, reemplace el valor del último por un valor diferente y muestre la *tupla* por pantalla. Recuerda que las *tuplas* son inmutables. Tendrás que usar objetos intermedios.

In [36]:
#Ejercicio 6

tuple1 = (1, 2, 3)
nuevo_valor = -1


tupla_sin_ultimo = tuple1[:-1] 
tupla_nueva_parte = (nuevo_valor,)
tupla_nueva_parte = (nuevo_valor,)
nueva_tupla = tupla_sin_ultimo + tupla_nueva_parte

print(nueva_tupla)

(1, 2, -1)

7. Dada la lista [1,2,3,4,5,6,7,8] escribe un programa que, a partir de esta lista, obtenga la lista [8,6,4,2] y la muestre por pantalla.

In [41]:
#Ejercicio 7

lista = [1,2,3,4,5,6,7,8]
lista2 = lista[::-2]
print(lista2)

[8, 6, 4, 2]


8. Escribe un programa que, dada una tupla y un índice válido *i*, elimine el elemento de la tupla que se encuentra en la posición *i*. Para este ejercicio sólo puedes usar objetos de tipo tupla. No puedes convetir la *tupla* a una *lista*, por ejemplo.

In [43]:
#Ejercicio 8

tupla = (10,20,30,40,50,60)
i = 2
nueva_tupla = tupla[:i] + tupla[i+1:]

print(nueva_tupla)

(10, 20, 40, 50, 60)

9. Escribe un programa que obtenga la mediana de una *lista* de números. Recuerda que la mediana *M* de una lista de números *L* es el número que cumple la siguiente propiedad: la mitad de los números de *L* son superiores a *M* y la otra mitad son inferiores. Cuando el número de elementos de *L* es par, se puede considerar que hay dos medianas. No obstante, en este ejercicio consideraremos que únicamente existe una mediana.

In [44]:
#Ejercicio 9

lista = [7, 3, 1, 9, 5]
lista_ordenada = sorted(lista)
n = len(lista_ordenada)

if n % 2 == 1:  # impar
    mediana = lista_ordenada[n // 2]
else:  # par
    mediana = lista_ordenada[(n // 2) - 1]

print(mediana)

5